.recommend {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.recommend > span {
  color: var(--gray);
}

.recommend-friends {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recommend-friend {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.recommend-friend span {
  margin: 10px 0px;
}

.recommend-friend i {
  padding-right: 10px;
}

.recommend-friend:last-child span {
  padding-right: 20px;
}

.openchat {
  margin-top: 20px;
}

.openchat-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.openchat-text {
  color: var(--gray);
  font-size: 15px;
}

.hashtags-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.member,
.hashtags-text {
  color: var(--gray);
  margin-bottom: 10px;
}

.hashtags-img {
  display: flex;
  align-items: center;
}

.hashtags-img img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.openchat-img {
  position: relative;
}

.openchat-img img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.heart {
  position: absolute;
  top: 70px;
  right: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 5px;
  font-size: 13px;
}

.heart i {
  margin-right: 5px;
}

@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.heart:hover i {
  will-change: transform;
  animation: heartbeat 2s linear infinite;
}
