.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon i {
  font-size: 35px;
  margin-bottom: 10px;
}

.icon span {
  font-size: 18px;
}
