.screen-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 20px;
}

.screen-header__column span {
  margin: 0px 25px;
  font-size: 35px;
  font-weight: 500;
}

.screen-header__column i {
  margin-right: 25px;
}
