.screen-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  font-size: 20px;
}

.screen-header__column span {
  margin: 0px 25px;
  font-size: 35px;
  font-weight: 500;
}

.screen-header__column i {
  margin: 0 10px;
}

.screen-header__column a {
  color: black;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__column .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
